.all_transactions_details {
    width: 150%;
}

.transaction-header {
    height: 40px;
    font-size: 15px;
    color: rgb(91, 91, 91);
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.transaction{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}