.all_transactions_details {
    width: 100%;
    overflow-x: auto;
}

.transaction-header {
    width: 150%;
    height: 40px;
    font-size: 15px;
    color: rgb(91, 91, 91);
    background-color: rgb(238, 238, 238);
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    justify-items: center;
    align-items: center;
}

.transaction{
    width: 150%;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    justify-items: center;
    align-items: center;
    border-bottom: 1px solid #e4e1e1;
    padding: 15px 0;
}

.phone_container {
    display: flex;
    justify-content: space-between;
}

.copy_image {
    height: 15px;
    width: 15px;
    margin-left: 4px;
    transition: 0.1s ease;
}

.copy_image:hover {
    filter: brightness(2);
}