.gender_dropdown {
    position: relative;
    width: 120px;
}

.gender_dropdown_button {
    width: 100%;
    padding: 8px;
    cursor: pointer;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border: none
}

.gender_dropdown_container {
    position: absolute;
    border: 1px solid #ccc;
    background: white;
    width: 100%;
    margin-top: 2px;
    z-index: 100;
    padding: 5px;
}