.header {
    position: relative;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_content {
    font-size: 18px;
    font-weight: bold;
}

.search_input {
    width: 400px;
    padding-left: 10px  ;
}