


.no_transactions_found {
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;     
    justify-content: center; 

    font-size: 18px;
    font-weight: 500;
    color: #555;
}
